@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}
:root {
  --primary-color: #00535e;
  --secondary-color: #ffcc43;
  --accent-color: #f1ece4;
  --text-color: #577592;
  --main-color: #F1ECE4;
  --padding-inline-section: 20px;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5rem;
}

section {
  padding: 2rem 9%;
}

.heading {
  font-size: 3.5rem;
  color: #000;
  padding-bottom: 2rem;
  text-align: center;
}

.heading span {
  color: var(--secondary-color);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .9rem 3rem;
  border-radius: .5rem;
  background: var(--primary-color);
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
}

.btn:hover {
  background: var(--secondary-color);
}

.primary-button {
  background-color: var(--primary-color);
  border-radius: 6px;
  font-weight: 700;
  color: white !important;
  padding: 12px 24px;
  box-shadow: 0 0 2px var(--secondary-color);
  transition: 0.2s ease-out;
  text-align: center;
  margin-left: 50px;
}

.primary-button:hover {
  background-color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 2rem 9%;
  background: var(--main-color);
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
}

.header .navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin: 0 1rem;
}

.header .navbar a:hover {
  color:var(--primary-color);
}

.header .icons div,
.header .icons a {
  font-size: 2rem;
  margin-left: 2rem;
}

#menu-btn {
  display: none;
}

.home {
  padding: 0;
  padding-top: 7.6rem;
}

.home .home-slider .slide {
  min-height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem;
  padding-left: 7%;
  background-size: cover !important;
  background-position: center !important;
}

.home .home-slider .slide .content p {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.6);
  text-align: justify;
}

.home .home-slider .slide .content h3 {
  font-size: 3rem;
  color: #fff;
  padding-top: .5rem;
}

.home .swiper-button-next {
  top: 90%;
  right: 2rem;
}

.home .swiper-button-prev {
  top: 90%;
  right: 8rem;
  left: auto;
}

.swiper-button-next,
.swiper-button-prev {
  height: 5rem;
  width: 5rem;
  border-radius: .5rem;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  color: #130f40;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #130f40;
  color: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
}
/* About */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 2rem;
    line-height: 47px;
    font-size: 3.2rem;
    margin-top: 4rem;
}
.banner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 3rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  /* background: var(--main-color); */
}

.banner-container .banner {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  overflow: hidden;
  height: 30rem;
  position: relative;
}

.banner-container .banner img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.banner-container .banner:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.banner-container .banner .content {
  position: absolute;
  top: 50%;
  right: 5rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.banner-container .banner .content span {
  font-size: 1.5rem;
  color: #666;
}


@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
    opacity: 0;
  }
}

@keyframes fadeUp {
  0% {
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
    opacity: 0;
  }
}
/* Appointment  */
.appointment {
  background: var(--main-color);
}
.contact .icons-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.contact .icons-container .icons {
  padding: 2rem;
  border-radius: .5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contact .icons-container .icons i {
  font-size: 2.5rem;
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.contact .icons-container .icons h3 {
  font-size: 2.2rem;
  padding: 1rem 0;
  color: var(--text-color);
}

.contact .icons-container .icons p {
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
}

.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}

.contact .row form {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
}

.contact .row form h3 {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: var(--text-color);
}

.contact .row form .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contact .row form .inputBox input {
  width: 49%;
}

.contact .row form .inputBox input,
.contact .row form textarea {
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: .5rem;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: var(--text-color);
  text-transform: none;
  margin: .7rem 0;
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
  width: 100%;
}

.contact .row .map {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  width: 100%;
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: .5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}


@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .header .navbar a {
    font-size: 2rem;
    margin: 2rem;
    display: block;
  }
  .home .home-slider .slide {
    padding-left: 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }
  .banner-container .banner .content {
    right: 2rem;
  }
  .services .box-container .box {
    width: 100%;
  }
  .contact .row form .inputBox input {
    width: 100%;
  }
}

section.services {
  background: var(--main-color);
  padding: 100px 0;
}

/* ------------------- our 3rd section
------------------------------------ */
.slide-container {
  max-width:1120px;
  width: 100%;
  padding: 40px 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card {
  border-radius: 25px;
  background-color: #FFF;
}

.image-content,
.card-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

/* .overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 25px;
} */

/* .overlay::before,
.overlay::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
} */

/* .overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #FFF;
} */

.card-image {
  position: relative;
  height: 150px;
  width: 230px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}

.card-image .card-img {
  /* height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4; */
  position: absolute;
    width: 230px;
    height: 150px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

/* .description {
  font-size: 14px;
  color: #707070;
  text-align: center;
} */

.button {
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: var(--secondary-color);
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: var(--primary-color);
}

.swiper-navBtn {
  color: #6E93f7;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #4070F4;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #000;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    display: none;
  }
}

/* Footer Section */
.footer h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 3rem;
  line-height: 47px;
}

.footer .share {
  padding-top: 2rem;
  text-align: center;
}

.footer .share a {
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  background: var(--primary-color);
  color: #fff;
  margin: .3rem;
}

.footer .share a:hover {
  background: var(--text-color);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.footer .credit {
  margin-top: 2.5rem;
  padding: 1rem;
  padding-top: 2rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 2rem;
  width: 100%;
  height: 100px;
}

.footer .credit span {
  color: var(--text-color);
}

